body {
padding-top: 20px;
padding-bottom: 20px;
}
.view-container {
overflow:hidden;
position: relative;
height: 800px;
}
.view  {
position: absolute;
float:left;
width: 100%;
}
.clearfix {
clear: both;
}

.form-horizontal .control-label {
  width: 165px !important;
}
.form-horizontal .controls {
  margin-left: 185px !important;
}
.form-horizontal .input {
  width: 80px;
}

.panel {
  width: 450px;
  float: left;
  margin: 20px;
}

.exampleimg {
height: 350px;
width: 350px;
}

.logs {
  max-height: 200px;
  overflow: hidden;
}